.logo {
    width: 25%;
}

.logo2 {
    width: 8%;
}

h3,
p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    color: #212529;

}

h5 {
    color: #131212;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;

}

.precio {
    color: #28A745;
}

h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    color: #707070;

}

button {

    font-family: 'Roboto', serif !important;
}

a:hover {

    color: rgb(11, 73, 73) !important;
}

.d-block {
    /* position: absolute; */
    /* top: 0; */
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;

}